<div class="p-a white lt box-shadow">
  <div class="row">
    <div id="exampleDescription" class="col-sm-12">
      <h6 id="chartTitle">{{chartTitle}}</h6>
      <small id="chartDesc" class="text-muted">{{chartDesc}}</small>
    </div>
  </div>
</div>
