<div {{#if groupedChartsWrapperId }} id = "{{groupedChartsWrapperId}}" {{/if}} class="chart-container disp-flex flex-wrap row">
  {{#each layoutMeta}}
    <div id="{{@key}}" class="single-chart-wrapper {{this}}"></div>
  {{else}}
    {{#each containerIds}}
      <div id="{{this}}" class="single-chart-wrapper"></div>
    {{/each}}
  {{/each}}
</div>
