/**
* Styles specific for contrail-examples.
*/
.disp-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

@for $i from 1 through 20 {
  .render-order-#{$i} {
    order: $i;
  }
}

#chartBox {
  position: relative;
}
